.text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
      background-color:#3e2723 ;
  }
  