@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

body {
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.brand-logo {
    font-family: 'Alegreya Sans', sans-serif;
    margin-left: 10px;
}

.nav-extended {
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2em;
}
.text-shadow {
    text-shadow: 1px 1px 1px rgb(0, 0, 0.5);
}

#tag-line{
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px 2px black;
}

h2 {
    text-transform: uppercase;
    font-size: 2em;
}

h3 {
  text-transform: uppercase;
  font-size: 2em;
}
.flashes h4 {
    line-height: 2;
}

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}
  main {
    flex: 1 0 auto;
  }

.page-footer {
      background-color:#3e2723 ;
      margin-top: 10%;
  }

#footer-icon-1 {

  margin-top: 10px;
}

#footer-icon-2 {

  margin-top: 10px;
}

#footer-icon-3 {

  margin-top: 10px;
}

#index-banner {
      margin-top: 10%;
  }

  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    
  .parallax-container .section {
      width: 100%;
    }

  
  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    
    #index-banner .section {
      top: 10%;
    }
  }
  
  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }
  
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  