
   
{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Trail</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="trail_title" name="trail_title" minlength="5" maxlength="50"
                    type="text" class="validate" required>
                    <label for="trail_title">Title</label>
                </div>
            </div>
                
            <div class="row">    
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="trail_address"  name="trail_address" minlength="5" maxlength="50"
                    type="text" class="validate required">
                    <label for="trail_address">Address</label>
                </div>
            </div>

            <div class="row">  
                <div class="input-field col s12 browser-default ">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="trail_difficulty" name="trail_difficulty"
                    type="text" class="validate" required>
                    <label for="trail_difficulty">Trail Difficulty</label>
                <select>
                  <option value="" disabled selected></option>
                  <option value="1">Easy</option>
                  <option value="2">Moderate</option>
                  <option value="3">Hard</option>
                </select>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <textarea id="trail_description" name="trail_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="trail_description">Trail Description</label>
                </div>
            </div>
            
            <div class="row">
                    <div class="input-field col s12">
                        <i class="prefix light-blue-text text-darken-4"></i>
                        <textarea id="trail_directions" name="trail_directions" minlength="5"
                            maxlength="200" class="materialize-textarea validate" required></textarea>
                            <label for="trail_directions">Trail Directions</label>
                    </div>
            </div>
            
            <div class="row">
                <form action="#">
                    <div class="file-field col s12 browser-default ">
                      <div class="btn">
                        <span>Upload Photo</span>
                        <input type="file">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate">
                      </div>
                    </div>

                    <div class="row">
                        <form action="#">
                            <div class="file-field col s12 browser-default ">
                              <div class="btn">
                                <span>Upload Map</span>
                                <input type="file">
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate">
                              </div>
                            </div>
                  </form>
            </div>
    
        </form>

    </div>

{% endblock %}