<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hiking trails in Andalucia, Spain. Share hiking exeriences and trails.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    
    <!-- Favicon -->
   

    {% block styles %}
    {% endblock %}

    <!--   Code credit to Code Institute Data centric Design mini project. Manipulated to suit my project -->
    <title>TrailMixers</title>
</head>
<body>
    
    <header>
    <!-- main navbar --> 
        <nav class="nav-extended text-shadow  teal darken-3">
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo">TrailMixer <i class="fab fa-pagelines right"></i></a>
                <a href="" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
            
                {% if session.user %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    <li><a href="{{ url_for('trails') }}">Trails</a></li>
                    <li><a href="{{ url_for('add_trail') }}">Add Trail</a></li>
                
                {% else %}
                    <li><a href="{{ url_for('get_index') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
    
    <!-- mobile side navbar -->    
          <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align light-blue-text text-darken 4">TrailMixer</h4></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                <li><a href="{{ url_for('trails') }}">Trails</a></li>
                <li><a href="{{ url_for('add_trail') }}">Add Trail</a></li>
            {% else %}
                <li><a href="{{ url_for('get_index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
          </ul>
    </header>
    
    <section>
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="row flashes">
                      <h4 class="teal lighten-5  center-align">{{ message }}</h4>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
  </section>

    <main class="container">
       {% block content %}
       {% endblock %}
  </main>
<!-- footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Some of the most popular trails in Andalucia:</h5>
          <i class="fas fa-mountain teal"></i><p class="grey-text text-lighten-4"><a class="grey-text text-lighten-4 left" href="https://andaluciahiking.com/mulhacen-hiking/!">Mulhacen, Granada</a></p><br>
          <p class="grey-text text-lighten-4"><a class="grey-text text-lighten-4 left" href="https://andaluciahiking.com/pico-de-veleta/!">Pico de Veleta, Granada</a></p><br>
          <p class="grey-text text-lighten-4"><a class="grey-text text-lighten-4 left" href="https://andaluciahiking.com/hike-siete-lagunas-trevelez-sierra-nevada-national-park!">Siete Lagunas, Granada</a></p><br>
          <p class="grey-text text-lighten-4"><a class="grey-text text-lighten-4 left" href="https://www.survivingmalaga.com/hiking-in-malaga-rio-chillar-river-walk/!">Rio Chillar, Malaga</a></p><br>
          <p class="grey-text text-lighten-4"><a class="grey-text text-lighten-4 left" href="https://andaluciahiking.com/el-caminito-del-rey-malaga-hike/!">El Caminito del Rey, Malaga</a></p><br>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Follow us on social media</h5>
          <ul>
            <li><a class="btn btn-secondary btn-floating m-1 pull-right mt-5 ml-2 text-shadow  teal darken-3" id ="footer-icon-1" href="https://www.facebook.com/" aria-label="first link" target="_blank" rel="noopener" role="button"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="btn btn-secondary btn-floating m-1 pull-right mt-5 ml-2 text-shadow  teal darken-3" id ="footer-icon-2" href="https://www.twitter.com/" aria-label="first link" target="_blank" rel="noopener" role="button"><i class="fab fa-twitter"></i></a></li>
            <li><a class="btn btn-secondary btn-floating m-1 pull-right mt-5 ml-2 text-shadow  teal darken-3" id ="footer-icon-3" href="https://www.instagram.com/" aria-label="first link" target="_blank" rel="noopener" role="button"><i class="fab fa-instagram"></i></a></li>
          
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
      © 2021 TrailMixer
     
      </div>
    </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>
