{% extends "base.html" %}
{% block content %}

 <!--   Code credit to Code Institute Data centric Design mini project. Manipulated to suit my project -->

    <h3 class="light-blue-text text-darken-4 center-align">Edit Trail</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_trail', trail_id=trail._id) }}">
        <!-- trail title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <input id="trail_title" name="trail_title" minlength="5" maxlength="50"
                    value="{{ trail.trail_title }}"type="text" class="validate" required>
                    <label for="trail_title">Title</label>
                </div>
            </div>
         <!-- trail address -->       
            <div class="row">    
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <textarea id="trail_address"  name="trail_address" minlength="5" maxlength="50"
                    type="text" class="validate" required>
                    {{- trail.trail_address -}}
                    </textarea>
                    <label for="trail_address">Address</label>
                </div>
            </div>
        <!-- trail difficulty -->
            <div class="row">  
                <div class="input field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                <select id="trail_difficulty" name="trail_difficulty"
                class="validate" required>
                  <option value="0" >Level</option>
                  <option value="1">Easy</option>
                  <option value="2">Moderate</option>
                  <option value="3">Hard</option>
                </select>
                <label for="trail_difficulty">Trail Difficulty</label>
            </div>
        <!-- trail description -->    
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix light-blue-text text-darken-4"></i>
                    <textarea id="trail_description" name="trail_description" minlength="5"
                        maxlength="4000" class="materialize-textarea validate" required>
                        {{- trail.trail_description -}}
                    </textarea>
                    <label for="trail_description">Trail Description</label>
                </div>
            </div>
        <!-- trail directions -->    
            <div class="row">
                    <div class="input-field col s12">
                        <i class="prefix light-blue-text text-darken-4"></i>
                        <textarea id="trail_directions" name="trail_directions" minlength="5"
                            maxlength="4000" class="materialize-textarea validate" required>
                            {{- trail.trail_directions -}}
                        </textarea>
                            <label for="trail_directions">Trail Directions</label>
                    </div>
            </div>
        
    
         <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('trails') }}" class="btn-large brown darken-3 text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large teal darken-3 text-shadow">
                        Edit Trail <i class="fab fa-pagelines right right"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}