{% extends "base.html" %}
{% block content %}
<body>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center white-text text-shadow text-lighten-2" id="tag-line">Discover the best hiking trails in Andalucia.</h1>
            <div class="row center">
              <h5 class="header col s12 light">Let's share and explore the Andalucian trails together</h5>
            </div>
            <div class="row center">
              <a href="{{ url_for('login') }}" id="download-button" class="btn-large waves-effect waves-light teal darken-3">Get Started</a>
            </div>
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img src="/static/images/background_image5.jpg" alt="resevoir"></div>
      </div>
    
    
      <div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text">Share</h2>
                <h5 class="center">Add your trails</h5>
    
                <p class="light">Upload trails to your personal profile page so other users can experience them. <br>This is also an excellent way to keep track of trails you have completed and create your own dashboard. You can also upload photos and chat about your trail with other users.</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text">Discover</h2>
                <h5 class="center">Learn from others</h5>
    
                <p class="light">Explore trails experienced by our users with detailed information on level, type of route, direction and description of trail. <br>
                You can also get inside knowlege from other users on where to stay, eat, park etc, by using the comments section. </p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text">Search</h2>
                <h5 class="center">Find trails</h5>
    
                <p class="light">Search for trails which suit your needs. Wheather it be easy, moderate or hard level. Search for type of trail, loop or point to point. Search for a type of terrain; mountainous, flat, river walks. Whatever you are looking for, you are sure to find using the search option. </p>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    
    
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 ">Sky above, earth below, peace within. </h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="/static/images/background_image3.jpeg" alt="mountain_picnic"></div>
      </div>
    
      <div class="container">
        <div class="section">
    
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>TrailMixer</h4>
              <p class="left-align light">The Andalusian countryside abounds in natural blessings, from snow-topped mountains to fertile plains, vast dune beaches to delta marshes teeming with birdlife. The region has the highest proportion of its territory dedicated to protected national and natural parks of any in Spain (numbering 26 in total) as well as the greatest biodiversity in fauna and flora, and a climate that surprises in its variety, but where sunshine is seldom lacking.</p> <br> 
              <p>Andalusia is also one of Europe's least densely populated areas meaning that “getting off the beaten track” requires no great art and yields some rich rewards. The inspiration for this site comes from the desire to share our discoveries of this very special place.</p>

            </div>
          </div>
    
        </div>
      </div>
    
    
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12">All good things are wild and free.</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="/static/images/background_image3new.png" alt="misty_mountain"></div>
      </div>
</body>
{% endblock %}