{% extends "base.html" %}
{% block content %}

<h3 class = "center-align">Register</h3>
<div class="row">
    <form class="col s12 m8 offset-m2">
      <div class="card-panel">
        <div class="row">
            <div class="input-field col s12">
            <i class="fas fa-user-plus prefix teal darken-3"></i>
            <input id="first_name" name="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
        </div>
      </div>
    </form>
  </div>

{% endblock %} 