{% extends "base.html" %}
{% block content %}

<h3 class = "center-align">Register</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
      <div class="card-panel">

        <!-- Enter First Name-->
        <div class="row">
            <div class="input-field col s12">
            <i class="prefix teal darken-3"></i>
            <input id="first_name" name="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
        </div>
        <!-- Enter last name-->
        <div class="row">
            <div class="input-field col s12">
            <i class="prefix teal darken-3"></i>
            <input id="last_name" name="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <!-- Email-->
        <div class="row">
            <div class="input-field col s12">
            <i class="prefix teal darken-3"></i>
            <input id="email" name="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <!-- Username-->
        <div class="row">
            <div class="input-field col s12">
            <i class="prefix teal darken-3"></i>
            <input id="username" name="username" type="text" min-length="5" max-length="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            <label for="username">Username</label>
          </div>
        </div>
        <!-- Password-->
        <div class="row">
            <div class="input-field col s12">
            <i class="prefix teal darken-3"></i>
            <input id="password" name="password" type="password" min-length="5" max-length="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            <label for="password">Password</label>
          </div>
        </div>
        <!-- Confirm Password-->
        <div class="row">
            <div class="input-field col s12">
            <i class="prefix teal darken-3"></i>
            <input id="confirm_password" name="confirm_password" type="password" class="validate">
            <label for="confirm_password">Confirm Password</label>
          </div>
        </div>
        <!-- Register button-->
        <div class="row">
            <button type="submit" class="col s12 btn-large teal darken-3 text-shadow">
                Register <i class="fab fa-pagelines"></i>
            </button>
        </div>
      </div>
    </form>
  </div>

{% endblock %} 