{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">All Trails</h3>
        <div class="white-text light-blue darken-4 text-shadow">
                
           
            <div>
                <p>{{ trails.trail_address }}</p>
                <p>{{ trails.trail_difficulty }}</p>
                <p>{{ trails.trail_description }}</p>
                <p>{{ trails.trail_directions }}</p>
                <p><em>by: {{ trails.trail_created_by }}</em></p>
            </div>

        </div>
   

{% endblock %}