{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for trail in trails %}
        <li>
            <div class="collapsible-header black-text teal lighten-5 text-shadow-white">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="" class="btn-small brown darken-4">Done</a>
                    <a href="{{ url_for('edit_trail', trail_id=trail._id) }}" class="btn-small teal darken-3">Edit</a>
                </div>
                    <div class="col s9">
                        
                        <strong>{{ trail.trail_title}}</strong> : {{ trail.trail_address }}
                    </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ trail.trail_description }}</strong>
                <strong>{{ trail.trail_directions }}</strong>
                <p>{{ trail.trail_difficulty }}</p>
                <p>{{ trail.trail_created_by }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}