<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trails</title>
</head>
<body>
    {% for trail in trails %}
        {{ trails.trail_title }}<br>
        {{ trails.trail_address }}<br>
        {{ trails.trail_created_by }}<br>
        {{ trails.trail_description }}<br>
        {{ trails.trail_difficulty }}<br>
        {{ trails.trail_directions }}<br>
        {{ trails.trail_elevation }}<br>
        {{ trails.trail_images }}<br>
        {{ trails.trail_length }}<br>
        {{ trails.trail_time }}<br>
        {{ trails.trail_type }}<br>
    {% endfor %}
</body>
</html>